/* transparent background hack: https://css-tricks.com/snippets/css/transparent-background-images/ */

.wrapper {
    width: 848px;
    height: 900px;
    display: block;
    position: relative;
    display: grid;
    grid-template-rows: 17px 39px 286px 102px 225px 127px 26px;
    grid-template-columns: 72px 291px 229px 75px 129px;
    grid-gap: 13px 13px;
    background-color: black;
}

.wrapper::after {
    content: "";
    background: url(848px-Tableau_I,_by_Piet_Mondriaan.png) no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

div {
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.a {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: rgb(240, 81, 71);
    color: white;
}

.b {
    grid-row: 2 / 5;
    grid-column: 1 / 3;
    background-color: rgb(225, 221, 222);
}

.c {
    grid-row: 1 / 5;
    grid-column: 3 / 5;
    background-color: rgb(211, 211, 211);
}

.d {
    grid-row: 1 / 3;
    grid-column: 5 / 6;
    background-color: rgb(12, 10, 15);
    color: white;
}

.e {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    background-color: rgb(201, 202, 197);
}

.f {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
    background-color: rgb(197, 196, 191);
}

.g {
    grid-row: 5 / 8;
    grid-column: 1 / 2;
    background-color: rgb(209, 209, 216);
}

.h {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    background-color: rgb(45, 50, 120);
    color: white;
}

.i {
    grid-row: 5 / 7;
    grid-column: 3 / 5;
    background-color: rgb(218, 216, 205);
}

.j {
    grid-row: 5 / 8;
    grid-column: 5 / 6;
    background-color: rgb(230, 181, 61);
    color: white;
}

.k {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    background-color: rgb(213, 212, 217);
}

.l {
    grid-row: 7 / 8;
    grid-column: 2 / 4;
    background-color: rgb(216, 216, 216);
}

.m {
    grid-row: 7 / 8;
    grid-column: 4 / 5;
    background-color: rgb(36, 23, 32);
    color: white;
}

@media (min-device-width: 750px) and (max-device-width: 950px) {
    .wrapper {
        grid-template-rows: 26px 127px 225px 102px 286px 39px 17px;
        grid-template-columns: 129px 75px 229px 291px 72px;
        grid-gap: 13px 13px;
    }

    .wrapper::after {
        background: url(848px-Tableau_I,_by_Piet_Mondriaan.png) no-repeat;
    }

    .a {
        grid-row: 7 / 8;
        grid-column: 4 / 6;
    }

    .b {
        grid-row: 4 / 7;
        grid-column: 4 / 6;
    }

    .c {
        grid-row: 4 / 8;
        grid-column: 2 / 4;
    }

    .d {
        grid-row: 6 / 8;
        grid-column: 1 / 2;
    }

    .e {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }

    .f {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    .g {
        grid-row: 1 / 4;
        grid-column: 5 / 6;
    }

    .h {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
    }

    .i {
        grid-row: 2 / 4;
        grid-column: 2 / 4;
    }

    .j {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
    }

    .k {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
    }
    
    .l {
        grid-row: 1 / 2;
        grid-column: 3 / 5;
    }
    .m {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}

@media (max-device-width: 749px) {
    .wrapper {
        display: block;
        background-color: orange;
    }
}
